<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Cusine:</strong>
  <%= @restaurant.cuisine.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Accepts10bis:</strong>
  <%= @restaurant.accepts10bis %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Maxdeliverytime:</strong>
  <%= @restaurant.maxDeliveryTime %>
</p>


<table>
  <thead>
  <tr>
    <th> </th>
    <th>Name</th>
    <th>Rating</th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @restaurant.reviews.each do |review| %>
    <tr>

      <td><%= review.reviewer_name %></td>
      <td><%= review.rating %></td>
      <td><%= review.comment %></td>
      <td><%= link_to 'Show', review %></td>
      <td><%= link_to 'Edit', edit_review_path(review) %></td>
      <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Add Review', new_review_path(@restaurant.id) %>
<%= link_to 'Back', restaurants_path %>
